:root {
    --primary-bg-color: #f9f9f9;
    --primary-text-color: #232323;
    --color-grey-light: #dedede;
    --color-coral: #daae8d;
}

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color)
}

body{
    background-color: var(--primary-bg-color)
}

/*navbar*/
.navbar__container {
    padding: 0 2rem;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    z-index: 20;
}

.navbar__menu{
    border: none;
    background-color: transparent;
    padding: 0;
}
.navbar-toggler:hover{
    box-shadow: none;
}

.navbar__menu img{
    width: 46px;
}

.navbar__cart {
    border: none;
    background-color: transparent;
}

.navbar__cart img {
    width: 46px;
}

.navbar__cart--desktop {
    display: none;
}

.navbar__logo img {
    width: 100px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.navbar__link {
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
}

.navbar__link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translate(-50%, -50%) scale(0); 
    width: 6px;
    height: 6px;
    background-color: var(--color-coral);
    border-radius: 50%;
    transition: transform 0.1s ease;
}

.navbar__link:hover::before {
    transform: translateX(-50%) scale(1);
}
.navbar__link:hover{
    color: var(--color-coral);
}

/*--- Inicio SECTION ---*/

.main-index{
    position: relative; 
    width: 100%;
    height: 869px;
    top: 135px;
    background-image: url("../imgs/cat-main.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: inline-block;
}
.cat-main-img{
    position: relative;
}
.overlay-h1{
    position: absolute;
    text-align: left;
    font-size: 50px;
    font-family: "Josefin Sans";
    color: white;
    margin: 50px;
    left: 392px;
    bottom: 350px;
    background-color: transparent;
}
.button{
    top: 510px;
    left: 445px;
    position: absolute;
    background-color: rgb(218, 174, 141); 
    border-radius: 4px;
    color: white;
    padding: 25px 24px;
    display: inline-block;
    border: none;
    box-shadow: 0;
}
.button-about-us{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 350;
    background-color: transparent;
}
.mid-index-background{
    width: 100%;
    height: 800px;
    top: 126px;
    background:linear-gradient(to bottom, rgb(35, 35, 35) 50%, white 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mid-index-container{
    display: flex;
    gap: 25px; /* Espacio entre los divs */
    background-color: transparent;
}
.overlay-h2{
    top: 45px;
    margin: 0px;
    left: 450px;
    bottom: 500px;
    position: absolute;
    text-align: left;
    font-size: 50px;
    font-family: "Josefin Sans";
    color: white;
    background-color: transparent;
}
.overlay-h2, h2{
    background-color: transparent;
}
.overlay-h2-p{
    position: relative;
    font-size: 26px;
    font-weight: 350;
    color: white;
    background-color: transparent;
}

.box {
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 3px;
}

/* Imagen dentro de cada caja */

.box img{
    position: absolute;
    object-fit: cover;
    background-size: cover;
    width: 320px;
    height: 320px;
    opacity: 92%;
    border-radius: 3px;
}

/* Pie de foto */
.p-box-café{
    margin-top: 270px;
    margin-left: 190px;
    font-size: 26px;
    color: white;
    z-index: 0;
    background-color: transparent;
}
.p-box-gatitos{
    margin-bottom: 260px;
    margin-right: 180px;
    font-size: 26px;
    color: white;
    z-index: 0;
    background-color: transparent;
}
.p-box-adopción{
    margin-top: 270px;
    margin-right: 180px;
    font-size: 26px;
    color: white;
    z-index: 0;
    background-color: transparent;
}

/*Nuestros Cafés */
.main-index-2{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}
.img-background2{
    position: relative;
    height: 800px;
    width: 100%;
    top: 0px;
    background-image: url("../imgs/backgrounds/index-2.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.overlay-h3{
    margin-left: 450px;
    position: relative;
    font-size: 38px;
    font-weight: 350;
    color: black;
    background-color: transparent;
}
.overlay-h3-p{
    top: 120px;
    left: 550px;
    position: relative;
    background-color: transparent;
    color: white;
    font-family: "Josefin Sans";
    font-size: 26px;
    font-weight: 600;
}
.boton-carta, .boton-tienda {
    position: relative;
    top: 50px;
    left: 1150px;
    max-width: 200px;
    background-color: rgb(218, 174, 141); 
    border-radius: 4px;
    padding: 25px 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    box-shadow: none; 
    border: none; 
}

.boton-carta a, .boton-tienda a {
    color: white;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif; 
    font-size: 26px;
    font-weight: 350;
    display: block; 
    background-color: transparent; 
    border: none; 
}

.boton-carta a, .boton-tienda a:focus, .boton-carta a:hover {
    outline: none;
}

.botones {
    margin-bottom: 20px; /* espacio entre los bloques de botones */
    background-color: transparent;
}
@media (min-width:1024px) {
    .navbar__container {
        padding: 0 5rem;
    }

    .navbar__cart {
        display: none;
    }

    .navbar__cart--desktop {
        display: inline-block;
    }

    .navbar__links {
        flex-direction: row;
    }
}



/*footer*/
footer{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 3rem 0;
}

.footer__desktop{
    display: none;
}
.footer__desktop p{
    font-size: 22px;
}
.footer__mobile{
    display: flex;
    flex-direction: column;
}

.footer__links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 100px 3rem 100px;
}

.footer__link{
    text-decoration: none;
    color: var(--primary-text-color);
}

.footer__title{
    font-weight: bold;
    font-size: 20px;
}

.footer__social{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__social ul{
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer__icon{
    width: 53px;
}

@media (min-width:1024px) {
    footer{
        align-items: center;
    }

    .footer__desktop{
        width: 100%;
        padding: 0 10rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .footer__desktop p{
        margin: 0;
        width: 600px;
    }

    .footer__desktop input{
        width: 300px;
        border-radius: 3px 0 0 3px;
        border: solid var(--primary-text-color) 0.1rem;
    }

    .footer__desktop button{
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 0 3px 3px 0;
        background-color: var(--primary-text-color);
        color: var(--primary-bg-color);
    }

    .footer__desktop form{
        display: flex;
    }

    .footer__mobile{
        width: 100%;
        justify-content: space-between;
        padding: 0 10rem;
        flex-direction: row;
        gap: 2rem;
        margin-top: 2rem;
        align-items: center;
    }

    .footer__mobile ul{
        margin: 0;
    }

    .footer__links{
        flex-direction: row;
        padding: 0;
    }

    .footer__title{
        display: none;
    }

    .footer__social ul{
        gap: 1rem;
    }

    .footer__icon{
        width: 40px;
    }

}